---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ext-unifi
  namespace: external-services
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.17.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    service:
      main:
        type: ExternalIP
        externalIP: "192.168.1.1"
        useSlice: true
        ports:
          main:
            protocol: https
            port: 443

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        hosts:
          - host: unifi.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare
          homepage:
            enabled: true
            name: "Unify"
            description: "Cloud Gateway Ultra"
            group: "Network"
            icon: "https://logos-world.net/wp-content/uploads/2025/01/UniFi-Logo.png" 
            widget:
              custom:
                type: "unifi"
                username: "${HP_UNIFI_USER}"
                password: "${HP_UNIFI_PASS}"