apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:wsBRY07d9KLuR/PSscHGUCKbSxCwOxfV3TM3uPsvM/4IjSlFYBNjJA==,iv:AWXU0yxIj0rgGbUP+10vOyVDvuApTV4CgIob8gnHn+k=,tag:Vp+LkFrrmsp/5J1GYI+ycg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBvamNTWjkrcm5LUDdVa1c5
            L2lqMHRUa1pOU0cyNXdFYWh1bEJFSmlwL0FrCjQ0SGl0T0w2YUdKa2g1SGhPMzV5
            akpkelo5VkswSjNWZjVHSmNwMi9yN1EKLS0tIFJPUktKVThzU0Y2N1dIT1hDTndk
            Qkg5TUFGc3g0aUFZUS92aU43MCtpNkEKs6iR9301QdS33xU2Fu9A2Mn27yOLMK6T
            VCbpFg7iv6+Av7oWOG0iSIK/m9zelqTz8AKOqU4KHz9Vs3deUuBgiQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T23:19:41Z"
    mac: ENC[AES256_GCM,data:Obw7k2Z2w/VXhYxfXT/ecK27cMo7LaJ7Vb4XQwfqXyFO3LdFd2QgKMls136/bgNFqjaRbvk+xc1xEDvmw624vzk7BY+59qoOOlWDj5Px9tKI3Xqk4IH+fTJVNuibtk49nZby4A0qzx+LZJ/hegkwb4bwcWA9wqntWGadjZy/cG0=,iv:8e6cQnF63KCOsL6w+l50n18absz9NTsNr1UyT+3eUkg=,tag:0k5w7d+tTuAdTXSsmTlmMQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
