apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:tTcnm7T14M3gAwR/rl8dousvIEtUWISjl7CNzcfDrJgobyf8u0wgcg==,iv:TXdv6y9kdqyuS4oKBJBRzEoiS2pb9HGh0aq2AQDID/Q=,tag:WOcQIRN/zKr2lPmMjBuQyg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3NHRtMVpHT3QxVGk0RFBx
            b1kxN1Z0aW1TcW1uaTU3YzJicGFJTjV4V0JjCkhCSVNhNmVZOE1SWVpmRTFXbXha
            SVNrOE9TQ21ISUZPb2k2WUQ4MXpqNVUKLS0tIFVWbGgveXZNZENiZ2w4NU1UVVFh
            UW14WVBMZytPaGU4REhsRmhaM2poeEkKSIpzsSpjaGPjraTwsowA7kqbvt9kZafv
            jkteSEk861bO3oXlycc6XzvLigOh3LzlEcyD2GOEIa7Niel4Gl6Hkg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-09T22:26:17Z"
    mac: ENC[AES256_GCM,data:vujP1BqrvIEv7AsL4KRy+GPzvKpTAMaB1fLnQj9GJCsAo5cPPJoT47SUAfEtxQIo5esvFsxHqhS8VeyrRpySrrGdNjEBQrpPLOk+s3gST4b+8yS13JZR1q2zqzY/nZOZmnnjHGoF78/Fi7l+FcPQ1GPnj7Gxe93e2OlEXIdxFl0=,iv:QZTkIbu6/2wKzj0862PfFzFfHl+Q8L7trLqTnYn5AxY=,tag:IodYvq+4AnfjPv71RyDwPg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
