apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:GZEjFbLEsUwJv49f1CRe6diNt3rIMlaNKPQR0xxw6BWoa8CPIXb0zQ==,iv:i+EciJHxR9zO/BLQxdFt2xQgWB34Xqs4ngNUgJLtOLg=,tag:V37Q6FcdrC/suvLnHfPB9Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoTnU3L1VFbCtpNTM4Tm9M
            RDB2YkF1NDFjNkN3YWFZODlqWGlhT2gwb1hVClk5bGxJUjZxNGpwbEg1c3JXUFBr
            N1BNakxrVkpxQ2NzeUh3Z2ovNHBwKzAKLS0tIE9MZklsY0pDK0VaYjZDRDNXZDZp
            Vjl6TkRzSEZrMjEzYXhPTnNTdk5mSWMK7q2HkCLH1VQhBF20xW4G7h6M1bd05GKm
            bnCSWC7qT+3z32z7nco5UgNOfsFx/ddJUAsdooCh/pp5J4V34mKtJg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-01T14:30:33Z"
    mac: ENC[AES256_GCM,data:722bQxpQIWXp8DnOfB2pnGlksrgEH/YuQ+e85RQriUgC8HmQfz8bS2mnSxS4azNH2vlKWvoaYgBn+aj9Y5nW+YnQyQSrNWHiRZtExmTXKEyM6TLvsZ7LJbOxytbZFpCRPc+MWp3atniRSstEBHLIMTEC8MUhw7xWgGqcjgKyOYI=,iv:+fWRnxWT+EPbGKmm/8YTqLRCnNkwUHsvcBwaXsWsv3U=,tag:LUaVEnE8Z24E0XEdS5oyKw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
