apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:i0D1KvMnpHIadlUd/Qnt7gPVltHVsAhcBnRg2vVx+BqxxiA2QRM+nQ==,iv:NFs7tdCt1Y5IznAK40gwXChU5MlHYDlmsNiG1xbK3Uk=,tag:xLcr+SrAdm1you+8RIYgnQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Yk9ZMGZndGxnbnNkTXVQ
            NVlqZ0gwMFFxclljWlJobXN1VnNZMm5zWkVrCnQ2M3JXdnN5L2NDQ3l5a1UrdVB0
            ZmxtRktseVdVWjBhWVpRelhMWUtTVWMKLS0tIG0xcEtKL21vR3dFeUJtZlR0WCtq
            bzhpNFYvdW8waUZzdW5qZzFiMHk5cWMKNEgSXyaHuAqMs86Z8DEIWM5J8dy5ysN/
            ttm1HiV5Tv1oBZ972ZNMrP2abQCpdV/9nOdrHSeEW+HWyr5YLAB6PA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-02T18:37:38Z"
    mac: ENC[AES256_GCM,data:6d1emrr+onuPsykens4467gxImRVhNKM14deF+SnTFc+BfcgpDHL8bgC8vbXk5da7e0hQSZAJ3zklN9WyVCk8eCGUMfALatSApD0Ff5NhKVIj//sMoLugN3LKLEmZwzzuRJXBjDnxQ74SSw6xcmunMSi840AL9Brg0we4Hf4ND8=,iv:7b0wfGE9VPEw2bndAcVgZo0cIsyz9Q5ufPZafQ9HFM4=,tag:sOGQlycTcyKM5LcG8JFEeg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
