apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:s13LvU4itMaOMWOP8zibVDfe6G6hFEnWzqkEyq9qVUej4PNe85pFcA==,iv:U/NznbBajgBos6D1DsxDyBkMJ7Rzv6NVATHPCq61d/g=,tag:yOH20zRZNuRcHZJLXKCZ/w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBteUlqUUEvZnNYcmFrQnZm
            M0lSaVpmK2RYNE5Wa0wvUUtqejk2TUxHY1ZnCkQrQW1JNFhndmFOVUs3bnVVbzFr
            OHZXK3dyekRETnQyVXJVWnRJTitIYkUKLS0tIERSVVR5bFdmL3luMmw2d01uelA5
            SC9Od3ZROUlwUFd5NXNXUCtnUXYyWkEK6dx1mGpalyi2oOIAqqRrEnTnTlw2jnw9
            htHv5GUTAz82wk5isp2BRaphn2TIkj5Wnrk/K0iNoKLYwRBiFSm8gQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T22:15:07Z"
    mac: ENC[AES256_GCM,data:Dpn6BOaPu2XXPaoGHlVm3MS/apCo4hVfqtousT3qmKACX9Yvaz2JyErGjn32kavk2DG2MXmrmPiqXBUSYKskelZHaKGbDXhxBcPoQYE1e0nCMdS+S1KITnKifO0XhaFlUrxr/pUzyGDVDIxkoasn8lqMBXV/uuTKokJDMQk3toE=,iv:EGRUGNQFfKnxKEBytuA/tD1SZidRYrKJfWhlBL25sMA=,tag:4eiF33TAsxZO2hT2s6vlrA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
