apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:0CsC0S91VZnjmCsALMDAZUPMK4lLGY1OrBxamp8ttno+OXNdrL8WxA==,iv:bUkH5aBxRYY5aOCIYCEkLjN80wjl3upK2JM2K9R4yI4=,tag:bZyPEEtrdHmU2PPA5Idmpg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBER1RBZUNxWGI1cVpMeWxr
            ZkV3WTA4cEN1cWExeTJWdHpwWmd1aGZMUEVNCnB5aVoyZ3NiTHNrV0RLVVRncnpS
            UkJJNjlkYnV5SWVTVHA5STVPWEJRcUkKLS0tIHBCYmdnajYxeGtQdGZUcnc2WENm
            Z1h4cHFBNXEweElXQVFnY1Z0Q2lIOXMKDSWx0ay8W6z5ocU+dijHhXO3TMiBEfHl
            UxVl7/2Wy5U87334/fG0AQHyEG7lUCAqqv40oyfKQBtahN1lOrcT5g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T23:16:51Z"
    mac: ENC[AES256_GCM,data:vKCVT+csrXWa+GR4I/oBDsMJD4OsOvAYNWRuBoSGU5wMddvGosbU4BWmv0lQo7lUF8oVRSAzNrk/B1euAzXiL9N/39OXJSOKBeBt9qyzmb+ty1RroQKitSLeUZQ7LGThs1+5APflSPODbeWPM46hgzOz/UhCzkkAlRdfNYCSwxE=,iv:tk5Gv9GSV2e9g+9vF/hO/cPnI7aJa9ibw4V1KhCf//s=,tag:qUtSsbv2lJrTFbn9T120BQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
