apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:qRbzFtmVmkijC894ONd6ekituijLR/8V0K4Op2UcOOXUoJ83wnFg9w==,iv:iQVzu3yV5NyJh74MhlQ/WpzRMk81SjItqv5bJ6TYNec=,tag:2uUBPXp04+CdVvJbS+hJaQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4Y3phMG8wdXArTUNOT0hG
            YXVCNGNxeWtOTlNwajlmWkxSN0syaVBTa0FzCmJob3UwM1RNQzNpd2hGb1phM1o2
            MlBYODE5Qm9lRjArOE1HaHRsK1QwaDgKLS0tIEFIWExCRmViWmlVZ1J0RUxsZmVF
            VkJMRy9oWGVCcXZTZ1hPNVRqeXJKNkEKTg0vQ63FHW3Es62c9s4Gs/M/h2bP4l+n
            zEVlNWH4gBzTrnHvuAqghaL3t42spj//9oD51cm5E34leXlQMrZKHw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-01T14:22:08Z"
    mac: ENC[AES256_GCM,data:4ewcL+aYsftWoV/YXFqAzUDXdS8AYnigBInQNFyz+KwTbOm6vL18/SRFr9gfycOcOkgg7PxE/MnxCh6nkwi+NC2mZ8bsvpL4/kb5Mr8kihvWcS5ych4xNpfF+lahqAKlX5+508Q6rurNDWr/02qf5dNPkCWIok76e4UhzlZvydk=,iv:iBQYTWURJIWPy4N0rcIMAAJegq3oXph+kN7VmNv7pMo=,tag:jymD1cUBvdeetpzqfIXGAA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
