apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:iXZuWfZ5rYDW1jjtcpAUgJjqSgMYpoPe00tWt9tOFfW3fOqanQVr0A==,iv:VPd+SH0e/e+Jf9GyiEqNnl4NSonOEQBpXuc2/j8fQCU=,tag:AdO2pCNL31ojn91L7FEGJw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOdlJwTjEyb2VwWkFjbUFF
            M0dkSU92aDBvcTN6bE1OUHY2QWMvZHAxV1NFCjBsV3dNTFgxUGx2NWNLd0h2M0JH
            Rm1uOXlTYlgzbWVCYzVtOW5JNG5DT2sKLS0tIGRKMURRVEljSGNZUFFuZ2lxa202
            MjhXY3pGOWdWZTNUZXh2TG95QmdVUlEK8ZUa/aWyzMow13lir/UD+JrHGPrf2+iD
            bMb7LdihOWVBxU3LyrtHFpWNVyjAw4IVqfqnScwqLQWsnRBQ1mhcyg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-30T19:23:02Z"
    mac: ENC[AES256_GCM,data:2hu+gcuJUK72lON4Z6VrfnQQhQV8W18PPyu5toEYwy13kSvDD1+z0b4b7jpw88Scl/G/fRtnDUV6h8ORHtIULP27NE8bb0Vv+QUKjarjo2D0p2sD2b1jZWj03Z3+kD60k9hMeOuhUP81J8SgjYslLHaDNm4TcXaMlXgZiXz4/TU=,iv:dgDS9gV99nJ7QGF1sTooiPK1sOjWGVLLGSYCQgD6ax0=,tag:52I0QV7J7GvHfMuV1mT1Hw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
