apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:T1Ft8ZzrdurL6erKHJ49Md84fGKcP1utClWjBIy8zpx670FGxy1N1w==,iv:m0lmVD67b8rpJHsFxgJYmp6uCWM6rv2vbRKPN0zE6HE=,tag:9AdmAOjR7s2+l4SJxiEKAw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0dHlyejBGblZpY3ozWXNG
            OFkrTTliTldwbm0xZWUwS0hGQlppdFZBT1ZRCjk4aUJDSlMzS3RaeG10MUF6cFlE
            cVpDSlZVMmkzdzZUUWtnVUJRZXMyem8KLS0tIDFsRmpqTDU1REN1aTF5SkJ6aHFj
            R2pxMS9WT1lGbDVLSkkzVUFhdGUvb2sK5dNiAaYAgcqcBuwK+2AEHmefv3ZGVEc8
            6dIaO63UA38CjZKXKaFFW7oc8Ypz7mLnG9UnWUYRBGCDAV/Pt/Y2Aw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T14:05:12Z"
    mac: ENC[AES256_GCM,data:CuFz5t1wi6CwAY+cx+2rdDoZ7YqkpqJ7VeKw/zbuIS4Aaz3bpGSIWlIfGc49mdnyls6eVfky+I9bYCA3G4Ruy1iD8CGyTnqUYugjcJ1cUsiKaZQxTAmi/nLGxo3C8vzwnECI3WGQP6oJ4rzqBpnV27HkC3Jsux7AaFBBXwDMtsg=,iv:Cq6n2BKfeSF3n9SfV9cRwQmrxzqDf4qbOataS90wRdA=,tag:c8JAvQ8/Q70k+6tIY8RFdw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
