apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:SZnEdHLSlNxtykf0DvnfBVvt5/Y68waNN8I5dUDKcIWdQQfyBHLI2A==,iv:SU153x0ZW8Ey7wjuk4a8WZYSqMO+Q86uRxQ+05WvJWs=,tag:4QyXn5/Ly9XCYgIxX56KZA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBndHJKcW5yMk5GVzRVL0Zj
            V3JRY3JFTkFiQ29MSndMb1BPUHptdkhIN0ZvClVaT3ZWSy9TcGxNM05xaHlDSk9V
            MWF3R1dMSDlpSExFbDdjQ1NFeEJUMlkKLS0tIHhBVGk0cXRPeldheVZEZFc4ZEdB
            RHJic2l1dms3aFhoYko4Z0VyR2FDOHcKReTLQGH1cH8OzIQb4JEiILQCzO6fvhg2
            4otwkfYPfCxo3GSqXdCFZzL7iUdD4NDzdItHv0QmIrAxWQquZH92aw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-19T12:52:01Z"
    mac: ENC[AES256_GCM,data:xd72X3bjqWTYPc7hBXsNJy5nydRD3NB+unIHSpbiPuFyRG2mo2/C/QLNe5rpK17572l6it/D2PkBzU4Dwwv9J8/cVf9bxMMxXZ/MYK7TleoX2BXnD7CWcbVPCD4Ra4gHPYapJPHEPAFeoxU+WfIR81oiTnXLDynaoxHPi0d0l3I=,iv:uz2+Mr3PKy/aCq6kOgY0b8/Am+lCLa0l6Fb+hG7uqUs=,tag:5Tacrx1e02Ve9OMsyEQ1lw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
