apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:2hssNJm0vsULo1d/X5elIjUq+S/GdOs9+NWDfjzLGtIefvkR3BlKdg==,iv:gn08WjiMWbJXq9zJvu/G+cZ5+2XMx0wBjKqfCmrAbRw=,tag:CxKzLfr+iWl4ZTavMdLaow==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJOHBlYmNYVk01MFNJQmdk
            UTZlcGJidzhiUG9nZ1R1b0V4dzFIZG8yblY4CitDNEY3OGIzT040ZS9kQ3c0U0FN
            aDAraTR0K2JFQUgzSWxHTW9mdWhDbDQKLS0tIENsTkpVeGhhY0RBaGI2M0o3cFNE
            NEFnWmJnZFVKWFphZE1rZzZjUUNhcUEKyQ6mO9duLD7KjDaPMozmO5fZtEZjRkjS
            KNuRBKSt3XB52h5pbRy7UrURNIPe3ZOWAmj25d2OwP3kEmEqd9j5Fw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-21T20:36:13Z"
    mac: ENC[AES256_GCM,data:h5ev4ZNzmB8zJhYU3uMvJipQYkteFH6poUEHSU9LGCrl1l+6je9im+fX8b7QxSAfMX7hend2GwZxdJg+pSob+uxhFI8vhU9+HR4I8AjMYepkQofaw6DU1HV2TZvdvBfdxMDVE8ih6sGJVIZ2r+DySdjDrH9jD3yq6do9oEpHzJI=,iv:IGsfhsq7tKBjMW5liwIo1x2b13lT+DT+rKO4k3JxeYQ=,tag:mp7xG+SZd0g1MsIuTvcztQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
