apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:AdVdf9NZJeatjyd9xwmaVEio9hXTawyiTJSGANedLOwRH+enbFob1A==,iv:MwCLhAG6M32Z/eCshLhsNVQ+RXGX40GJ8WA8C3GZNfQ=,tag:Q3ppHv+4a311dC7iFyOKJg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzM0s0VHlIcXJ2VVBrSnY0
            cDZ4ZzYydU81alZKcTkvLzdUSEpKM05JdW5NCmdjblBqSGtlNCtuMy8rMUkxTERZ
            cHRBSTM2RkN1ajAwYTlOUmFFOGxXQ3cKLS0tIGJxWk1oYzUrV3Q3WXY4RTJidDJQ
            eFJEb0RtRVdQYmlXREcvSVUyd2p3YXMKK3/ozQB2nwV/MqzmM3nQGeaEH2oI7BVs
            1jjqN+auJg/TKpY4yH+ZHkxtOKWKWX6d0LL31lHSfUFA1au6mzV+cw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-15T13:36:34Z"
    mac: ENC[AES256_GCM,data:vOJFBIa69k6lc28dYRWqv7jNDgtIdCFU8rxR1menh5FOvlW/u9OjZm+yvYBc9CHvEftM59hdYARpXLYegbbRIBr2kDhGeyKRZ90RQ+hBChZFnlI9zTsViJZ3WuwEaMund1rlnzs15x+3QEoxI9jRqaOcffqMCh3FmicRiGAkxJw=,iv:hp93RIB6o+m8B/3tPomhmX0L8jK9lpthz17Tze5KeeY=,tag:e+hpgW+wsUJ2YJ/ZwOH4Rg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
