apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:mBVQEYNBWvSiHARUNgzmzC0NQEdLOeLoF684TZFzWQm1i9Z/GG7azA==,iv:ccMIa6SN1Sjma1DNxdAEw8df4A19gh/GyzP5pvoYf50=,tag:/pxlSPnjG3U6X23GxvBGwQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBSmxiSTlBOER2V09UK1Zq
            Y1JobStLdGtoSUY4V3BReCtuNzU0ZThxbFRzCkxFbVZNT3dNbmhSZTNMcjNzVm15
            L3I1cnJGTVJ4anViTXd0Nk50aHZpcjAKLS0tIFF5amZMN0ZrdmFrZHRSK05aMks2
            MGJTL0JDOEk4Ukt1akNUSkovZWhoSVEKXRpiMS9pYDLVCSFS9ucd4TW8jIHK7OOb
            OC0LFvHdRiIPYdSMDKD55E1kOztTdE//0+frG1nCgcE2RvNdE7BJFg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T20:10:30Z"
    mac: ENC[AES256_GCM,data:rcoGOATicxvexoKgStJkcsrirblFh3mjWDQp5ykqx4KjTkRIwEO/SF6YMcyyqMcSj4WE8rhdHGsLgjr5RXxjqD6qJjaE01Q6LCpFdWb7lrI6+cV4IL3MOZIg4DRmGi3AZM0AbOviJ/5bCgSugZxWdyXY49lN+J2h8mdBwJKBpjs=,iv:On/Sw65G33KufxWhjc845OTNW711yKXswYaYREJ9/to=,tag:wP2WK067HcITlhzSOXqlhQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
