apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:hxPsObUkOOkt8f10UGe0Z1jPY5r3FPTOQ86MXtVweqnMAweh4VUKPQ==,iv:a23N/LKZNFb4Z2t2naPnRXU2P7+uS1nm3x33IfAk5Ow=,tag:XT3Y22JbUOxqpZgOZcotLQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxZWM4Z1FTRjFIRjg4b0Ey
            THpWTFhyWVZrT1BNQnpUWGNqcmFocGhHamhFCkJML1htWWk5SjEwdldpdWJjZnQw
            YTh3aUdnOElQT0xQVFpTVFR4OERxaXcKLS0tIDdQSENBZEJyN2lsVFllUkZ4bUds
            Y3hraEd5VFBhcndmWU5tNVoxeG9Ta3MKkz5es3iXi/a28Z3F6jR2cAeQuqfLw5z0
            drfCqvQTzvWX1LVb3xI7BlYht1Dp/s6ABGRpztzoPnun+npLfewUGg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T20:35:22Z"
    mac: ENC[AES256_GCM,data:NOHLIo7VsOp7V0TAWQ8xXto/J/qBlJsUaPV90eNk9xY6XNM5Cr2QTPZcv7pVf6Jf/wj/ePmKKHzSM8x8b9YzkVWrgCa+mLC51huGRgcVe12KIVQaPJqvUl/a+UwBPpWz2oxQzmjKiIPuaCjYvc2dUsyhw/YbPR7Jg1Bctl1XSAc=,iv:OG4vVlWA0dkG3AhSXG8gju/8dnx2jHcl9Eqt3Wn/k+Y=,tag:xf7Aow0MXncuqz1EHSaYvw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
