apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:vMHwsBbf6wLOnAIyS7fb1r57oC+JyfqDAFiloKRL8dCe6f2rDIqzzQ==,iv:NY12SQOc6+7lJoR+lKQQ7/aJNJTubmdxuRrpFOyjA5E=,tag:syod9SZvs5IfuSoLb/XxDQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuS3JLV1UyV2pvRStwc2Mz
            Vm9OME5sMGpJM1ZXeTRSNG1FWkV4YmRHaW1FCnhNMVhmUWw3ejUrNHUzbUJOWHNy
            Zk9qcTU0TTZrcXJRQ0NKWHBiYlk2WkkKLS0tIFBlYzgzS1JuZkpFcVcrN2U3Q0JP
            cVcxMUV1UEdpZEVIK1VPMjRHK1ZpaGsKSiJR08odacKxg0yCdkHKLXIijNVJhWbT
            nuovqS3ttcxt/+8BAZ3Mkx65+nxW71eegSPcYZJnsN8xt/RzWtfB1g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-19T12:18:59Z"
    mac: ENC[AES256_GCM,data:BRiB58hmH/GKvtRTi6fVmomBdhczzXzyd3d4/Ewvrxzfy+QTjjkxxtA/i9ae4bOliBU3LZYrNKv9frznSdtOnvgXcJIAAKDdyf9Y6L+UOb/P9jS82Vc0hgG8cnyDWK7NNEhYmBOkLpPue2WPWRKrPj3poA/rbVKuM5W81YBkSDs=,iv:5lqiDeynz9p1XcxVtmO3AQwzDPJ2OSAKSOOYaggR3hc=,tag:uucjKkQpmSgZ219JR3bOUQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
