apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:m/avzoQfdHwRRyEB/DQUWhwlGvnWqUrNsS80i/dCrVUmboVRJE+rfw==,iv:9B+Oqmb9iZ7tq+1d/sz2B0Rbon6bd0fx0fpvJUT7xU4=,tag:BS0jHGbGawdJqi+ZC0kwBQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOU0ZSSnZ0UTVLRDhiQTdk
            YnZhdHlwNVFLeVMzYUI1alN0WElydDNHZGpNCmExbnJKVkl4QnkxOGw1WU01Vk9G
            Y3VhREc0TWxWWEUxeUhRYzQ4TitJQkkKLS0tIGVpRXo5QTNOZUpKaHExcURRUm1s
            cG9VekhYQXJFRkRlZW1pRjlyOVZVaHcKhliHZcEfFh57tpGNmEjo69m8QOAho8Cm
            B8/8JLf+cmVDpqEaewBYIiPMjxA5jOYyyEfCCTjRHkc6fnEFqEQMGw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-01T17:45:04Z"
    mac: ENC[AES256_GCM,data:2aAickqR3TZGifjKJDpiQ6zXYSBfwFOiBYX0iRMxhYVBe7ZTcbPgD1BAQbSGU+jCvvECwU3cN+5xpuBpxMe4RuigJwIRIXnOqGvp1aT2d/6LPTmuxgc5Tybv6qgXurgTJT2FlRI7rae7sqPCPTHwG16//ZsjjYLMjo2+uhfW784=,iv:61Jef7sC3FjZyMU9iufdASdTCFQhxvj2lNdutkdx2ms=,tag:R5On3cPnMbAKDTglWc177A==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
