apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:7ssIC3QlFeGMaiWneZQP78FShwK92Pj65jRFV/zUcyvpZfx8Ls0FYw==,iv:aIy6+XFYOplZvW7BLGxjERw0q8zEX3Mg407scaBcwBs=,tag:KHk2SygV3IRbg4PttN9hsA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxYVE5cVA5SW9kaWlKcXdU
            UVRESmR2ZFBnanBqSnBzTTE1U245b3RxS1hRCjRjUC9jMmx2N04ycW1jbWQxMlA3
            NTdDQnFEY2JSNXpaY1VIYWhFbGtVU0EKLS0tIHZRTGkvRUJtaWVnNFhsQkM5akk4
            d3BRbi80QnhtMWZKamt0REYrUTJzcTQK3wmirDite7db9MWEFqcp94Cxnbd//fyy
            pX3H8TYQZx4xT+LiTyWwKsn6T1bDkR3yQ2tz3UfST7j1EOTyxXjeAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T12:54:44Z"
    mac: ENC[AES256_GCM,data:yi/Y+3hbCS0bCuDE9OujftVOD1MYbYUpC91ReXLY0t84u9ZXkzdAWHnTBa7TBKXv7rSG2mu2J+qTMCvZmSOuiRgPUZ3zK0Dz43k3UvJrLrKWTMQrlcQ1wxle/I9WPnrBo7uum4F6fw+YnvKWnT/fDEeQxHbXYuAseZ25ms5fevY=,iv:6geBBe4Hhrp/L+U+AcebKfXHa/4sW27CTDoOkOQAUaU=,tag:9AuZl6EAIzfcHPnCig+eCA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
