apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:7Ic1wcBfgBpLd6uKw/thT7Qe7+MZCijrSc0nMANiJZya4wCo9o6D/A==,iv:kcEtyxxpvomRSAWFjgYwNLMlVlhThgaR2f/qXmZ0Aos=,tag:JBGiLvpBeNh11drM/3zt+g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBKbnliaHExZHF1Y2JxSHBC
            dUhjRU5WNWkrYWtYdzltRDZwSFVkS2k3ZEFJCmhnRWF6bE9GZzJvMlFFV25hZDJH
            cGJxcWRDU3IyQXBFQThOY3VCOVdVWjAKLS0tIElIWXRiZGo3cEZqYk0xYjF2aUhR
            QUFNcDB1T0liOGo2QThVZ1FIbnZUM1kKClhxtyG4dS5BRNfn6iWauq4zz5c07vbS
            ypzxRaLx/22/eOnWbU5v9xSLruhQyMi99WTVZxneug19zREEQHQKlA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-01T14:12:09Z"
    mac: ENC[AES256_GCM,data:zNgF36qrtKsBZApGv+Suo3zRYLGGzTc2RpdXzm74rg3YG9qLbpC2sBUpceDN/XNUq1q9HZnSG8x9kwQahKUGOww+Beby4bgx3Rr++3H9NypzU3BYqJkvQOm3Gil+133UhRIPX5irInabe2CzzmCb013EEzO4U5KU7zwmKe23qHA=,iv:e1/4cnWPr3jAUIBssEf2+x4o6/fjWba5Bephlap4JGU=,tag:cNmDOR6H9/n4p+0RhUms6A==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
