apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:c4xVTNSEEpM87yt50cavIAHfqfYtxPfnFpxOwL+VgXJSO20L1usf6Q==,iv:zXBmU7RyBul5tpYmpq3zBLHr8K+yqKkbFHszafID1io=,tag:6OQScTksSTtCkV1smTZaTg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvUnpsWEQ1ZFZQSmxjVWZK
            UHlYS3RoU0dLTWRUZlBZaVh4T2lPV2k0VDBVClpjOFZhUjdvQVVERXZ0OEVudkcv
            VWlSdWRzMVhOc2FyR094WnR4UGtqV3MKLS0tIHJNaG1ORnQ4UzBaamlaZFd3YS9j
            Tkl3Vy84eWJxSk1RVWNqT0p1SjBnU1EKprAghYfIxloZY/Buk1wwnrdRZDS11e88
            9RquR3zcYbexSkIxd23N+UawoP/k2CaqmpFGWujUWYpKPN5dR9eCjg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-22T17:50:38Z"
    mac: ENC[AES256_GCM,data:emvAwCygV74OaL8wBBs5+eFkKgUa1raz4niY2rx7QfQoItsu/RpF2Z9SubZI11+6HGFMscDyq1xVSlN3O0JbL02feiNx5ccF16J7MtcL7C9Y2wPfj+9tWZmsHfyDAXQ04hMK+sRkZ1sw0gbf593Cs1kIRTwJPeoUEekfhw8Yn9w=,iv:8W3u8a3fCtTAVCLxutaJcUPXpJKZeYZ0fVyn0k1qSrU=,tag:4eIx79jIm5vBPGqDfvvKOw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
