apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:0VALgAXf3WrCJvDtMirDqa7/9TFHyu07knk3uKgNNLjrf/38PkvHJQ==,iv:EQjv1YK6M7CtVZuElCj1T3Iw3nieDwLviHsAPu6oiZs=,tag:sjAoksQfVq7JYmIZ5P6qBg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5ckQ5RUpKd2MrYnhEcU1n
            LzZsanJTL0lvbFFpTWdRdDdyVUdkK1BOVEFVClZZejZDV3ZqYWR5NlJXM0p3VEhO
            TWtwMEwwWE4zRkRwZ0VmSDgwdkQ4enMKLS0tIFhNUWM3NHVaenF6Rk1LMTJwUFNC
            WDd1LzRKY1BIVkNhbWUwTWJGYTZObkkKZm5tk10t14ew5eQ7U7wsL5d/eAj/ctjR
            ygqwSK1DMzemen79s5gTB7sy/sD6X4wB/5i13wUpvK3WZxgt+tFUYA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T20:14:37Z"
    mac: ENC[AES256_GCM,data:aQULPvGoyvZKUmTeuiCFrINmIFwd08fY+OiRYlUXKw3WnTTNZXpyf9E+Ne9zph9UkGHDNHYY9LSXnUNaOM4HW4uHzitS59WIlyyyLg7QJhUAgf4aiqVkzmj2SbkZI68Jrt+xVQbGKkkFs5TxmUAwYDsNJMhlM4f+BTwYmoGmdns=,iv:pD9UTPzicvaNAwsvD/scnpmjlo2vtoGFQ/sE/KhAmVQ=,tag:gblzdVJIvbDN3P0gOhIioQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
