apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:96gWp2WZP280XYLUrXS4rJOPXNJCiLgB0zxrjErc2zBOdyOlN5nNnA==,iv:jAxfSD5eL7zbD6a5+CzKLm8PcpvEV1w8bl5nvgM6Mrs=,tag:3ESSb8wKFV3PbwPgMdMHcA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhaEdJVnNSOWVoZTRuWFR0
            UDloK2J5VUtTbGI1UGVIS21leHV0QU1jK2tzCnN4QmloM2lHbVB1dGFpdElORHdR
            cDRubjQ3UHZ5OTFacFZ6YlVXNTkvUXMKLS0tIFY5aUFuSjR6OVlhR2l6ODAxcjVE
            d1FmZGorcWNMM3NQQUg0QnFLN2ZlZ0UKOgj+KFiuX+SQA6JL5t4hZbiYc5VJxc4S
            i7gDiloAisUxohYpGb56UAJuIGntp+LdNbWXRYe6Xchh9H9gd0EtBA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T22:22:38Z"
    mac: ENC[AES256_GCM,data:oVfRDfdCTv0+li8cB2qACCmNHzpW0EjEnMj2/EnHBwTwCgvpa9sXBuxs7DpcjLcp6GCvlimBs3AlPPB7dsyY5HB41Hjo7GqOQNN7wrNtgBrK3J70FFZ2B9UNftL7wTeAf/VzC6jV2s6VU4y3abj31hb3fecdcSqKcO3iS7SxNs8=,iv:C5nyJK2Tmshsa3YPZcAm+rpVDplaV/knDMPoTBMbEUk=,tag:TlY0zu9qBUqYXKkg/zVlrg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
