apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:CN4uPUiqu7samBAR1yyrEJbZtgr6kKVJMfVxQDD4RHud0erqsSSnww==,iv:SmmRkgtlBFy3s6AyVJAG0UJ85RlPEvit8fgQeC+/Qow=,tag:pMztLShwdzLtsDTQI/IFgg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTbnZzSm9Ta21sUVZDdjM3
            YTVwbUZsNzI4SzdPS2ovelVlcUEvWVB3VEZvCnQ0VmROWkNud3dta1lYNmY3WmVN
            bkVON1hrVGRzamhncFNsT2FZUWVUVEkKLS0tIDVpeEs3NkRnbytWTWFwWGExalhl
            TUhhNHJaZUFKUVNKQlkyNFJ3ZGZESjgKvYRdVBt+ET6qYVTkFXV2Mdo2aXgmeBK3
            QYUEw5RgDWlr/e181gFw/PG2DsjX/yXQbuqnwdeuvn0EcfRFz7mG5Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-13T23:29:02Z"
    mac: ENC[AES256_GCM,data:xVdwAFyAUsJdK3SkOoM0fSvk8CXS60SU97oF81nFZrjHserX3v6ZpDrE07oYhafjyan4zdY0Er/Cfho/GZfKsGaksuQZA/rWRnFXBKUnIsAUUtlVCQzy9GRFbdfQaOhb1CeNePC3w8ioqRutxnepZtIftXjqTvU0sFn/0biPW9k=,iv:xmbjL76wJHf0e3oQSJzm1PH1TfOKOR67JI5Aro636KA=,tag:7v2EUbQSDL1s/gxpf+tg+w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
