apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:dy+1HGRQ8Y9/YKsGIoDxvNb0GznF0Iyt/Ny+96E4IrsnjjJvbdkyGA==,iv:NWZh/etwlAUOcTFVMKOlHxoz2ggkl+4W/yqtTVL+jhM=,tag:OKFpNhLKAXvS11QiL44ZUw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBibnA3bW1UbkwrbkQyb3Qv
            V2VRUlF2aDRQaTlwNUlFeDF5S3dPUExXR2o4ClpSZGNYNTE1THI2M3RHM1AzeE9s
            R2ZzSld1dWUzMUliay9OaUp4aTJTc2MKLS0tIDd5bjhiTUdRcVMrajZ6UHZERUJW
            WjE3c1JUTEI4bWNJT3NseE1JYmo4ZW8KXh0WYN0jYlyAPn1MxwbK1eP5ZRZ/Msgw
            H15LsWaXvnKXlY+Co6G0X3GYKH8pkgQMau9qPBDqzWVsNf0AOK8XNA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T21:14:23Z"
    mac: ENC[AES256_GCM,data:4f0hL0e/WTx5HSGkR8z/ehfBOqSJcFjikYkm4SwXYckdZs+EQW21wy0MDLCaSOdi1YK2XnUTnl1GSLmfuHvcX8Dub829hGjOQhnB0Iw+/oSZQrC2zS5yjeznnW5H6/H/8VB2Mb6WsRSVFq5lCOsmtNzU+ZF4AqVIzegjH+pSIQc=,iv:nBsODJBO41nsKcGDYheIS7yHngKW4/U1CL3qroRRbpQ=,tag:ymvP+ubgpETG3rX+9Nzu3g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
