apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Kyw9hLSORfsT56BmcDK708kur7vYw2TDn3OE5GULt3DQiKoNhfUDjw==,iv:D2bPzPuJS0CLCTbQ7dNkMQxDcSnuagLvAKCInWN9XOA=,tag:yfk4lcGSjZJt0gb9qA+X5A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArd3hPa2M1SVAvNVdXc0o4
            ZC9PRUVQWEIzWGRwekVHTHg0WDJXcGdmbjBzClRIeU1FV0JYZlRsTS9NUGs1TEU4
            QkRhSkNCUjVTRXhwdzJrbFpYTmNUMm8KLS0tIFpDaEFabTRzRnhzVXYrbVl6T1lU
            MG1sb3ZUV2l2UGZYSVdaMHpsQ1VlWTAKQ+BBJ/yqKb4H1cdjya6G0eshZG7luRRv
            0yAIvdEyaIwUXW0Hk0AkBR+2HyCauunt6/aPET/D9Ywao47m8DMmYA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-22T15:06:19Z"
    mac: ENC[AES256_GCM,data:l4zCS8zUvmlwD7LkKDWkQ7oIomXCA/PP2cQVjh+qqjXFk7DUFDFWnNc8A2r2kIlpgmakFXfax+wpQXw5pH8WxkhxTXSVZ+47Fn/Ph0GYAikQpFQVIkaZcHvsxXvfstIXZxp9RPnwZUBHWi3ne/qOBDbQyTT1/Y48AfnecQO2U2M=,iv:CFtChETfJTYaq7gNFk7RJH4Q3Y9i91X1CAGUikhwbIo=,tag:oIoj/hB0djHm1s72xqoPGA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
