apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:8bAip2QtEScjuNtirtKAoXUADKR8ASNvHM15ZMabg/5Ek0gH5FVoLg==,iv:+jj95k+za649ZUsAfyJCpKfV0Fs5CHlAYDJZjxIVz20=,tag:Eeju4O4jT6PCHB4/aKOA/g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1q8xty9t8mzeekkgs0pc9uezeu4lm3cdssq68gn0mtxyc9wmn6vhq3m2ych
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjdUxydXc1WHBUVkZoRzRi
            SUZ4TVQxcGoxdUZuMTZzT0ZQZlhRRGUwV25ZCldMUm5YbjZJVW5QOHg3UlFCYUti
            OUp6Mmd0alJyMmRzb1JtTlZ2cDcrTmsKLS0tIHNlNzl1OElaUzFNZXFJMlRRNWk3
            RUdDVWRiY0xDVWkwanJlSkxYakFNOGcK855QbiGgDgv+tBKrVdYaF9I46By2V+a0
            ck4kGDrJuC3R4CDvp492k33292bZQ/gSJMQDvoXBoTugtJq8+9d3jA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T09:03:45Z"
    mac: ENC[AES256_GCM,data:xefAR3d/6tV+PAozwnjlHTdkUGUy+FCJdcnp/Aj/YY5C50bxPnuGNXKXqfvbTAtC0+ddMQCj0iS3AEoRihsnw11Aa1YzUjapiG0ffYBdAYHAwJBeqmSFMkMA39PF+yNsMyQe1VYB6/P1At1rTtW89wsF4ymO47AF2cvgm9sSNP4=,iv:b4G7ZCarUpXMU6HzTPN+wl+QzxiZ1g+O1GtcipC5O/o=,tag:desCVQypLn/iOs03g3r6Og==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
