apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
    patch: |-
      - op: add
        path: "/metadata/annotations/gatus.home-operations.com~1endpoint"
        value: |
          group: external