---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: signal-cli-rest-api
  namespace: signal-cli-rest-api
spec:
  interval: 5m
  chart:
    spec:
      chart: signal-cli-rest-api
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                AUTO_RECEIVE_SCHEDULE: 0 4 * * *

    credentials:
      minio:
        type: s3
        url: "http://${S3_URL}"
        bucket: "${S3_BUCKET}-signal-cli-rest-api"
        accessKey: "${S3_ACCESKEY}"
        secretKey: "${S3_SECRETKEY}"
        encrKey: "${S3_ENCRKEY}"

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hosts:
          - host: signalapi.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
