---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-java
  namespace: minecraft-java
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-java
      version: 33.8.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord
      bluemap:
        enabled: true
        ports:
          bluemap:
            enabled: true
            protocol: tcp
            port: 8100

    modrinth:
      - fabric-api
      - lithium
      - bluemap
      - armor-poser:beta
      - cloth-config
      - servux
      - sdlink
      - craterlib
      - reusable-vault-blocks
      - dynmap

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                STOP_SERVER_ANNOUNCE_DELAY: 60
                ENABLE_QUERY: "true"
                EULA: "true"
                GUI: "false"
                SNOOPER_ENABLED: "false"
                OVERRIDE_SERVER_PROPERTIES: "true"
                DUMP_SERVER_PROPERTIES: "true"
                VERSION: "1.21.11"
                TYPE: "FABRIC"
                DIFFICULTY: "hard"
                MAX_PLAYERS: 20
                MAX_WORLD_SIZE: 50000
                ALLOW_NETHER: "true"
                ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
                ENABLE_COMMAND_BLOCK: "false"
                FORCE_GAMEMODE: "false"
                GENERATE_STRUCTURES: "true"
                HARDCORE: "false"
                MAX_BUILD_HEIGHT: 320
                SPAWN_ANIMALS: "true"
                SPAWN_MONSTERS: "true"
                SPAWN_NPCS: "true"
                VIEW_DISTANCE: 32
                MODE: survival
                MOTD: "Fire up the furnace for The Copper Age drop!"
                PVP: "true"
                LEVEL_TYPE: normal
                LEVEL: Utopia
                ONLINE_MODE: "true"                
                # The default password is randomly generated on each startup; however, a specific one can be set with RCON_PASSWORD.
                RCON_PASSWORD:
                MEMORY: ""
                OPS: ${MINECRAFT_OPS}
                OVERRIDE_OPS: "true"
                ENABLE_WHITELIST: "true"
                WHITELIST: ${MINECRAFT_WHITELIST}
                OVERRIDE_WHITELIST: "true"
                # ICON: http://..../some/image.png
                # OVERRIDE_ICON: true
                ALLOW_FLIGHT: "false"
                # CURSEFORGE_FILES: "lithium,fabric-api"
                # CF_API_KEY: ${MINECRAFT_CF_API_KEY}
                MODRINTH_PROJECTS: '{{ join "," .Values.modrinth }}'
                VANILLATWEAKS_FILE: "/config/vt-datapacks.json"
                USE_FLARE_FLAGS: "false"
                USE_AIKAR_FLAGS: "true"
                USE_SIMD_FLAGS: "false"
                
            mcbackup:
              enabled: false

    persistence:
      data:
        enabled: true
        type: nfs
        path: /mnt/SSD_Cluster/app_minecraft_data
        server: 192.168.1.50
      vt-datapacks:
        enabled: true
        mountPath: /config/vt-datapacks.json
        subPath: vt-datapacks.json
        readOnly: true
        type: configmap
        objectName: vanillatweaks

      backups:
        enabled: false

    ingress:
      bluemap:
        enabled: true
        primary: true
        ingressClassName: external
        targetSelector:
          bluemap: bluemap
        hosts:
          - host: bluemap.${DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN}"

    resources:
      limits:
        cpu: 8000m
        memory: 16Gi
      requests:
        cpu: 1000m
        memory: 4Gi

    configmap:
      vanillatweaks:
        enabled: true
        data:
          vt-datapacks.json: |
            {
              "type": "datapacks",
              "version": "1.21",
              "packs": {
                "Decorative/Cosmetic": [
                  "armor statues",
                  "mini blocks",
                  "more mob heads",
                  "player head drops",
                  "silence mobs",
                  "wandering trades"
                ],
                "Convenience": [
                  "double shulker shells",
                  "multiplayer sleep",
                  "spectator conduit power",
                  "spectator night vision",
                  "unlock all recipes"
                ],
                "Gameplay Changes": [
                  "anti enderman grief",
                  "graves"
                ],
                "Informative": [
                  "afk display",
                  "durability ping",
                  "nether portal coords",
                  "real time clock",
                  "track raw statistics",
                  "track statistics",
                  "villager death messages",
                  "villager workstation highlights"
                ],
                "Admin Tools": [
                  "kill empty boats"
                ]
              }
            }
