---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hermitcraft-java
  namespace: hermitcraft-java
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-java
      version: 33.8.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: true

    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord
      voicechat:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${IP_HERMITCRAFT}
        ports:
          voicechat:
            enabled: true
            protocol: udp
            port: 24454
        integrations:
          metallb:
            enabled: true
    
    modrinth:
      - fabric-api
      - simple-voice-chat:beta
      - audioplayer:beta

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                STOP_SERVER_ANNOUNCE_DELAY: 60
                ENABLE_QUERY: "true"
                EULA: "true"
                GUI: "false"
                SNOOPER_ENABLED: "false"
                OVERRIDE_SERVER_PROPERTIES: "true"
                DUMP_SERVER_PROPERTIES: "true"
                VERSION: "1.21.8"
                WORLD: "https://r2.hermitcraft.com/hermitcraft10.zip"
                TYPE: "FABRIC"
                DIFFICULTY: "hard"
                MAX_PLAYERS: 20
                MAX_WORLD_SIZE: 50000
                ALLOW_NETHER: "true"
                ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
                ENABLE_COMMAND_BLOCK: "false"
                FORCE_GAMEMODE: "false"
                GENERATE_STRUCTURES: "true"
                HARDCORE: "false"
                MAX_BUILD_HEIGHT: 320
                SPAWN_ANIMALS: "true"
                SPAWN_MONSTERS: "true"
                SPAWN_NPCS: "true"
                VIEW_DISTANCE: 32
                MODE: "creative" 
                MOTD: "Have fun with Hermitcraft Season 10!"
                PVP: "true"
                LEVEL_TYPE: hard
                LEVEL: "HermitcraftX"
                ONLINE_MODE: "true"                
                # The default password is randomly generated on each startup; however, a specific one can be set with RCON_PASSWORD.
                RCON_PASSWORD:
                # MEMORY: ""
                OPS: ${MINECRAFT_WHITELIST}
                OVERRIDE_OPS: "true"
                ENABLE_WHITELIST: "true"
                WHITELIST: ${MINECRAFT_WHITELIST}
                OVERRIDE_WHITELIST: "true"
                # ICON: http://..../some/image.png
                # OVERRIDE_ICON: true
                ALLOW_FLIGHT: "false"
                # CURSEFORGE_FILES: "lithium,fabric-api"
                # CF_API_KEY: ${MINECRAFT_CF_API_KEY}
                MODRINTH_PROJECTS: '{{ join "," .Values.modrinth }}'
                # VANILLATWEAKS_FILE: "/config/vt-datapacks.json"
                USE_FLARE_FLAGS: "false"
                USE_AIKAR_FLAGS: "true"
                USE_SIMD_FLAGS: "false"
                RESOURCE_PACK: "https://${DOMAIN}/hermitcraft/resources.zip"
                RESOURCE_PACK_ENFORCE: "true"

            mcbackup:
              enabled: false

      backups:
        enabled: false

    resources:
      limits:
        cpu: 8000m
        memory: 16Gi
      requests:
        cpu: 1000m
        memory: 4Gi
