---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-router
  namespace: minecraft-router
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-router
      version: 2.25.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${IP_MINECRAFT}
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            enabled: true
            protocol: tcp
            port: 25565
          query:
            enabled: true
            protocol: udp
            port: 25565
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord

    mcrouter:
      default: minecraft-java.minecraft-java.svc.cluster.local:25565
      mappings:
        - ${MINECRAFT_URL}=minecraft-java.minecraft-java.svc.cluster.local:25565
        - ${HERMITCRAFT_URL}=hermitcraft-java-minecraft-java.hermitcraft-java.svc.cluster.local:25565
