---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
  namespace: unpoller
spec:
  interval: 15m
  chart:
    spec:
      chart: unpoller
      version: 13.28.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord
              
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                UP_UNIFI_DEFAULT_URL: ${UNPOLLER_URL}
                UP_UNIFI_DEFAULT_USER: ${UNPOLLER_USER}
                UP_UNIFI_DEFAULT_PASS: ${UNPOLLER_PASS}
                UP_INFLUXDB_DISABLE: true

    configmap:
      dashboards:
        enabled: true