apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: gatus
spec:
  interval: 15m
  chart:
    spec:
      chart: gatus
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
    
  values:
    TZ: Europe/Amsterdam
    
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: status.${DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN}"
      api:
        enabled: true
        ingressClassName: external
        primary: false
        targetSelector:
          main: main
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: cloudflare
        hosts:
          - host: status.${DOMAIN}
            paths:
              - path: /api
                pathType: Prefix
              - path: /health
                pathType: Prefix

    sidecar:
      enable: true
      enableService: false
      enableIngress: true
      autoIngress: true 

    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            {{- if .Values.cnpg.main.enabled }}
            storage:
              type: postgres
              path: {{ (printf "%s?client_encoding=utf8" (.Values.cnpg.main.creds.std | trimAll "\"")) | quote }}
            {{- end }}
            ui:
              title: Status | Gatus
              header: Status
              logo: https://avatars.githubusercontent.com/u/130394941
              link: https://github.com/Boemeltrein
              buttons:
                - name: Github
                  link: https://github.com/Boemeltrein
                - name: TalosCluster
                  link: https://github.com/Boemeltrein/TalosCluster
            metrics: true
            alerting:
              discord:
                webhook-url: ${GATUS_WEBHOOK}
                default-alert:
                  description: "health check failed"
                  send-on-resolved: true
                overrides:
                  - group: "buddy"