apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: gatus
spec:
  interval: 15m
  chart:
    spec:
      chart: gatus
      version: 2.27.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  
  values:
    sidecarImage:
      repository: ghcr.io/home-operations/gatus-sidecar
      pullPolicy: IfNotPresent
      tag: 0.0.12@sha256:83bf82d422e9b0529a8076cb584d557a12158d9d8a4c373b4d27afcb87a17569

    workload:
      main:
        podSpec:
          containers:
            main:
              imageSelector: image
              env:
                GATUS_CONFIG_PATH: "{{ .Values.persistence.configmain.mountPath }}"
                GATUS_DELAY_START_SECONDS: 5
            sidecar:
              enabled: true
              imageSelector: sidecarImage
              probes:
                liveness:
                  enabled: true
                  port: "{{ .Values.service.main.ports.main.port }}"
                readiness:
                  enabled: true
                  port: "{{ .Values.service.main.ports.main.port }}"
                startup:
                  enabled: true
                  port: "{{ .Values.service.main.ports.main.port }}"
              extraArgs:
                - --enable-service 
                - --enable-ingress
                - --auto-ingress
                # --ingress-class=internal

    TZ: Europe/Amsterdam
    
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: gatus.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare

    securityContext:
      pod:
        sysctls:
          - name: net.ipv4.ping_group_range
            value: "0 2147483647"

    persistence:
      configmain:
        enabled: true
        type: nfs
        path: /mnt/SSD_Cluster/app_minecraft_data
        server: 192.168.1.50
        mountPath: /config
        readOnly: false
        targetSelectAll: true
      config:
        enabled: true
        mountPath: /config/config.yaml
        subPath: config.yaml
        readOnly: true
        type: "configmap"
        objectName: config

    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            {{- if .Values.cnpg.main.enabled }}
            storage:
              type: postgres
              path: {{ (printf "%s?client_encoding=utf8" (.Values.cnpg.main.creds.std | trimAll "\"")) | quote }}
            {{- end }}

            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

            metrics: true

    rbac:
      main:
        enabled: true
        primary: true
        clusterWide: true
        rules:
          - apiGroups: [""]
            resources:
              - "services"
            verbs:
              - "get"
              - "list"
              - "watch"
          - apiGroups:
              - "networking.k8s.io"
            resources:
              - "ingresses"
              - "ingressclasses"
            verbs:
              - "get"
              - "list"
              - "watch"
          - apiGroups:
              - "gateway.networking.k8s.io"
            resources:
              - "httproutes"
            verbs:
              - "get"
              - "list"
              - "watch"
      
    serviceAccount:
      main:
        enabled: true
        primary: true

    podOptions:
      automountServiceAccountToken: true