apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: gatus
spec:
  interval: 15m
  chart:
    spec:
      chart: gatus
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

    TZ: Europe/Amsterdam
    
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: gatus.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: cloudflare

    sidecar:
      enable: true
      enableService: false
      enableIngress: true
      autoIngress: true 

    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            {{- if .Values.cnpg.main.enabled }}
            storage:
              type: postgres
              path: {{ (printf "%s?client_encoding=utf8" (.Values.cnpg.main.creds.std | trimAll "\"")) | quote }}
            {{- end }}

            ui:
              title: Status | Gatus
              header: Status
              logo: https://avatars.githubusercontent.com/u/130394941
              link: https://github.com/Boemeltrein
              buttons:
                - name: Github
                  link: https://github.com/Boemeltrein
                - name: TalosCluster
                  link: https://github.com/Boemeltrein/TalosCluster

            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

            metrics: true
