---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudflareddns
      version: 13.0.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam
    
    cloudflareddns:
      api_token: ${CLOUDFLARE_TOKEN}
      interval: 3600
      host_zone_record:
      - domain: minecraft.${DOMAIN}
        record: A
        zone: ${CLOUDFLARE_ZONE_ID}
      - domain: hermitcraft.${DOMAIN}
        record: A
        zone: ${CLOUDFLARE_ZONE_ID}
      - domain: wireguard.${DOMAIN}
        record: A
        zone: ${CLOUDFLARE_ZONE_ID}
      - domain: echo.${DOMAIN}
        record: A
        zone: ${CLOUDFLARE_ZONE_ID}        