apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shelly-exporter
  namespace: shelly-exporter
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.36.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  
  values:
    TZ: Europe/Amsterdam
  
    image:
      repository: ghcr.io/d1ceward/shellyplug-exporter
      tag: v2.2.0
      pullPolicy: IfNotPresent

    service:
      main:
        ports:
          main:
            port: 5000
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: services
            interval: 60s
            ui:
              hide-url: true
              hide-hostname: true
            conditions:
              - "[CONNECTED] == true"
              - "[RESPONSE_TIME] < 100"
            alerts:
              - type: discord

    workload:
      main:
        podSpec:
          containers:
            main:
              args:
                - "--config=/config.yaml"

    configmap:
      exporter-configfile:
        enabled: true
        data:
          config.yaml: |
            {{- $.Values.exporter | toYaml | nindent 2 }}

    persistence:
      configfile:
        enabled: true
        type: configmap
        readOnly: true
        objectName: exporter-configfile
        mountPath: /config.yaml
        subPath: config.yaml

    exporter:
      exporter_port: 5000
      plugs:
        - name: server
          host: 192.168.1.74  
          port: 80
          generation: 2

    metrics:
      main:
        enabled: true
        type: servicemonitor
        endpoints:
          - port: main
            path: /metrics
            interval: 1m
            scrapeTimeout: 15s
        targetSelector: main