---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: boemel-runner
  namespace: actions-runner-system
spec:
  interval: 15m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: actions-runner-system
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    githubConfigUrl: https://github.com/Boemeltrein/TalosCluster
    githubConfigSecret: boemel-runner-secret
    minRunners: 1
    maxRunners: 5

    containerMode:
      type: kubernetes
#      kubernetesModeWorkVolumeClaim:
#        accessModes: 
#          - ReadWriteOnce
#        storageClassName: "openebs-hostpath"
#        resources:
#          requests:
#            storage: 25Gi

    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.331.0
            command:
              - /home/runner/run.sh
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
            volumeMounts:
              - name: work
                mountPath: /home/runner/_work                
        volumes:
          - name: work
            emptyDir: {}                