name: "Pull Request: Validate"

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
env:
  KUBERNETES_DIR: ./clusters/main/kubernetes

jobs:
  kubeconform:
    name: Kubeconform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Setup Workflow Tools
        run: brew install fluxcd/tap/flux kubeconform kustomize
      - name: Run kubeconform
        shell: bash
        run: bash ./.github/scripts/kubeconform.sh ${{ env.KUBERNETES_DIR }}

  # test:
  #  name: Flux Local - Test
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #    - name: Run flux-local test
  #      uses: docker://ghcr.io/allenporter/flux-local:v7.5.6@sha256:725baade5b3d01ab6b1be0fb1de0d454e4222cbe959b3bdddee1137464aa1f3e
  #      with:
  #        args: >-
  #          test
  #          --all-namespaces
  #          --enable-helm
  #          --verbose

  diff:
    name: Flux Diff
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resources: ["helmrelease", "kustomization"]
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: pull
      - name: Checkout Default Branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default
      - name: Diff Resources
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 15
          max_attempts: 3
          retry_on: error
          command: |
            docker run --rm \
              -u $(id -u):$(id -g) \
              -v $PWD:/github/workspace \
              ghcr.io/allenporter/flux-local:v8.1.0@sha256:37c3c4309a351830b04f93c323adfcb0e28c368001818cd819cbce3e08828261 \
              --log-level "DEBUG" \
              diff ${{ matrix.resources }} \
              --unified 6 \
              --path /github/workspace/pull/ \
              --path-orig /github/workspace/default/ \
              --strip-attrs "helm.sh/chart,checksum/config,checksum/redis,checksum/secrets,app.kubernetes.io/version,chart,app" \
              --limit-bytes 10000 \
              --all-namespaces \
              --sources "cluster" \
              --output-file /github/workspace/diff.patch 
#      - name: Diff Resources
#        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0@sha256:37c3c4309a351830b04f93c323adfcb0e28c368001818cd819cbce3e08828261
#        with:
#          args: >-
#            --log-level "DEBUG" 
#            diff ${{ matrix.resources }}
#            --unified 6
#            --path /github/workspace/pull/
#            --path-orig /github/workspace/default/
#            --strip-attrs "helm.sh/chart,checksum/config,checksum/redis,checksum/secrets,app.kubernetes.io/version,chart,app"
#            --limit-bytes 10000
#            --all-namespaces
#            --sources "cluster"
#            --output-file diff.patch
      - name: Generate Diff
        id: diff
        run: |
          echo 'diff<<EOF' >> $GITHUB_OUTPUT
          cat diff.patch >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

          echo '## Flux ${{ matrix.resources }} diff' >> $GITHUB_STEP_SUMMARY
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          cat diff.patch >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Add Comment
        continue-on-error: true
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-id: "${{ github.event.pull_request.number }}/kubernetes/${{ matrix.resources }}"
          message-failure: Diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
